.taskCard {
  width: 250px;
  padding: 10px 25px;
  margin: 10px 1%;
  background-color: rgba(255, 255, 255, 0.2);
  color: rgb(0, 241, 249);
  border-radius: 10px;
}

.taskCardTitleInputArea {
  margin-bottom: 10px;
  width: 30%;
  cursor: pointer;
}

.taskCardTitleInput {
  width: 80px;
  font-style: 1.1rem;
  padding: 4px 6px;
  border-radius: 3px;
  border: none;
  outline: none;
}

.taskAddInput {
  width: 100%;
  font-size: 1.3rem;
  border-radius: 3px;
  border: none;
  outline: none;
}

.taskBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 0px;
  margin-top: 10px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(204, 50, 244, 0.5);
}

.taskText {
  color: rgb(0, 241, 249);
  margin-left: 12px;
}

.taskTrashButton {
  color: rgb(214, 41, 84);
  background-color: transparent;
  margin-right: 9px;
  border: none;
  cursor: pointer;
}

.taskCardsArea {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.AddTaskCardButtonArea {
  margin-left: 1%;
  margin-top: 25px;
}

.addTaskCardButton {
  color: rgba(204, 50, 244, .9);
  padding: 10px 17px;
  border-radius: 9999px;
  font-size: 30px;
  background-color: rgba(0, 241, 249, .9);
  box-shadow: 1px 1px 8px 1px rgba(0, 241, 249, .4);
  transition: all 0.3s;
  &:hover {
    box-shadow: none;
    transform: translate(1px, 1px);
  }
}

.taskCardHeader {
  display: flex;
  justify-content: space-between;
}

.taskCardDeleteButton {
  color: rgb(214, 41, 84);
  border: none;
  background-color: transparent;
  font-size: 16px;
}
